* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

:root {
  --primary-color: #141518;
  --white-color: white;
  --theme-color:#37d1f4;
  --text-color:rgb(238, 231, 231);
  --info-color:rgba(0, 0, 0, 0.822);
}

.light-theme {
  --primary-color: white;
  --white-color: white;
  --theme-color:rgb(234, 33, 53);
  --text-color:rgba(0, 0, 0, 0.856);
  --info-color:rgba(255, 255, 255, 0.952);
}

body {
  font-size: 1.1rem;
  transition: all, 0.4s, ease-in-out;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

section {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 3rem 18rem;
}

header {
  color: var(--white-color);
  height: 100vh;
  overflow: hidden;
}

.section {
  transform: translateY(-100%), scale(1);
  transition: all 0.4s ease-in-out;
  background-color: var(--primary-color);
}

/* section 1 */

.sec1 {
  display: none;
  transform: translateY(0) scale(1);
}

.headtext{
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  justify-content: space-evenly;
  position: absolute;
  color: var(--text-color);
  top: 12.5vh;
  left: 10vw;
  border-radius: 20px;
  -webkit-box-shadow: 12px 0px 40px -5px rgba(57,65,87,0.39);
  -moz-box-shadow: 12px 0px 40px -5px rgba(57,65,87,0.39);
  box-shadow: 12px 0px 40px -5px rgba(57,65,87,0.39);
  background-color: var(--primary-color);
  height: 75vh;
  width: 80vw;
  z-index: 10;
  transition: 0.4s all ease-in-out;
  padding-left: 150px;
}

.headtext:hover{
  transform: scale(1.02);
}

.headtext span {
  font-style:oblique;
  color: var(--theme-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.headtext div{
  font-size: 20px;
}


/* section 2 */

.sec2 {
  display: none;
  transform: translateY(0) scale(1);
  position: absolute;
  background-color: var(--primary-color);
  padding-left: 40px;
  padding-top: 180px;
}

.skills{
  height: 60vh;
  width: 25vw;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 2px var(--theme-color) ;
  border: 1px solid var(--theme-color);
  display: flex;
  transition: all 0.3s ease-in-out;
  font-style: italic;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}

.skills:hover{
  transform: scale(1.1);
}

h3{
  color: var(--theme-color);
}

.vl{
  height: 100%;
  width: 2px;
  background-color: rgb(221, 211, 211);
}

.flex-1{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  color: var(--text-color);
}

.flex-2{
  height: 100%;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}


.sklflex{
  display: flex;
  height: auto;
  top: 330px;
  position: absolute;
  width: 90vw;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -150px;
}

.techs,.langs{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 30px;
  height: 50%;
  width: 100%;

}


.timeline{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 40vh;
  width: 25vw;
  gap: 20px;
  color: var(--text-color);
  transition: all 0.4s ease-in-out;
}

.timeline .tlhead{
  font-size: 50px;
  text-align:center;
  margin-bottom: 100px;
  text-shadow: 5px 5px 4px var(--theme-color);
}

.timeline:hover{
  transform: scale(1.1);
}

.timeline-item{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.timeline-item p{
  margin-top: 6px;
}


/* section 3 */ 


.sec3 {
  display: none;
  transform: translateY(0) scale(1);
}


.projects{
  gap: 2rem;
  margin-top: 10rem;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.projecthead{
align-content: center;
font-size: 2.2rem;
display: flex;
justify-content: center;
align-items: center;
width: 100%;
text-align: center;
font-size: 50px;
margin-top: 80px;
text-shadow: 5px 5px 4px var(--theme-color);
}

.projects .project{
border-radius: 15px;
width: 400px;
flex-shrink: 0;
transition: 0.4s all ease-in-out;
}

.project:hover{
transform: scale(1.06);
}

.projects .project img{
object-fit: cover;
height: 300px;
border-radius: 15px;
width: 100%;
} 


.sec4 {
  display: none;
  transform: translateY(0) scale(1);
}


/* section 5 */



.sec5 {
  display: none;
  transform: translateY(0) scale(1);
  overflow-y: hidden;
  max-height: 100vh;
}

.about-page{
  display: flex;
  align-items:center;
  flex-direction: column;
  height: 80vh;
  max-width: 100vw;
  padding-top: 10px;  
  justify-content: space-evenly;
}

.top{
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-align: center;
  text-shadow: 5px 5px 4px var(--theme-color);
}

.info-about{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 50vh;
  width: 40vw;
  border-radius: 20px;
  color: var(--text-color);

}

.up-info{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablegrid{
   height: 50%;
   width: 80%;
   display: grid;
   grid-template-columns: 0.2fr 1fr 2fr;
   grid-template-rows: repeat(4,1fr);
   grid-column-gap: 5px;
   grid-row-gap: 10px;
   justify-items: start;
   align-items: center;
}

.tablegrid img{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 5px var(--primary-color);
}


.down-info{
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.pdl{
  height: 20%;
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: var(--theme-color);
  align-items: center;
  border-radius: 20px;
  margin-bottom: 0px;
}

.soclink{
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  width: 300px;
  border-radius: 10px;
  border-color: grey;
  align-items: center;
}

.soclink img{
  height: 40px;
  width: 40px;
  border: grey;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--theme-color);
}



/* general */





.active {
  display: block;
  animation: scalinanim 1s ease-in-out;
}

@keyframes scalinanim {
  0% {
    transform: translateY(-100%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}

.controls {
  position: fixed;
  z-index: 10;
  top: 40%;
  right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(-50%);
}

.controls .active-btn {
  background-color: var(--theme-color) !important;
  transition: all 0.4s ease-in-out;
  animation: scalinanim 1s ease-in-out;
}
.controls .active-btn img {
  color: rgb(252, 0, 0) !important;
}
@keyframes scalinanim {
  0% {
    transform: translateY(-50%) scaleY(0);
  }
  100% {
    transform: translateY(0) scaleY(1);
  }
}
.controls .control {
  padding: 0.8rem;
  cursor: pointer;
  background-color: rgb(76, 76, 85);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.6rem 0;
}
.controls .control img {
  font-size: 1.2rem;
  color: var(--theme-color);
  pointer-events: none;
}

.theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(76, 76, 85);
  z-index: 10;
  position: fixed;
  top: 15%;
  right: 4.7%;
  cursor: pointer;
}


.theme-btn .theme-in {
  display: flex;
  width: 20px;
  height: 20px;
  pointer-events: none;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: var(--theme-color);
}

.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}


.header-content .left-header {
  display: flex;
  align-items: center;
  position: relative;
}
.header-content .left-header .h-shape {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 85%;
  background-color: var(--theme-color);
  clip-path: polygon(0 0, 100% 0%, 37% 100%, 0% 100%);
  z-index: -1;
}
.header-content .left-header .img-header {
  position: absolute;
  height: 90%;
  align-items: center;
  width: 95%;
  margin-left: 80px;
}
.header-content .left-header .img-header img {
  padding-top: 50px;
  height: 0%;
  align-items: center;
  width: 100%;
  border-radius: 10%;
}

.right-header{
  display: flex;
  align-items: center;
}















/* media queries */

@media (max-width:1300px){
  .sklflex{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .skills{
    height: 40vh;
    width: 50vw;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 2px var(--theme-color) ;
    border: 1px solid var(--theme-color);
    display: flex;
    transition: all 0.3s ease-in-out;
    font-style: italic;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-top: 2%;
  }

  .timeline{
    margin-top: 200px;
    margin-bottom: 200px;
    display: grid;
    width: 50vw;
    grid-template-columns: repeat(2,5fr);
    font-size: 1.2rem;
    row-gap: 40px;
  }
}

@media (max-width:1000px) {
  .projects{
    margin-bottom: 100px;
  }
  
}

@media (max-width:900px){
  .controls {
    position: fixed;
    z-index: 10;
    left: 50%;
    bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: end;
    transform: translate(-50%);
  }
}

@media (max-width:900px) {
  .theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(76, 76, 85);
    z-index: 10;
    position: fixed;
    bottom: 5%;
    right: 4.7%;
    cursor: pointer;
  }  
}

@media (max-width:900px) {
  .header-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  .header-content .left-header .h-shape{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 30vh;
    width: 100vw;
    background-color: var(--theme-color);
    clip-path: polygon(0 0, 100% 0%, 37% 100%, 0% 100%);
    z-index: -1;
  }

  .header-content .left-header {
    display: flex;
    height: 30vh;
    width: 100vw;
    align-items: center;
    position: relative;
  }

  .right-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
    margin-top: -40px;
  }

  .headtext{
    font-size: 1.5rem ;
    display: flex;
    justify-content: center;
  }
}

@media (max-width:1200px) {
  .tlhead{
     display: none;
  }
}


